* {
  margin: 0;
  padding: 0;
}

.content {
  background-image: url(/backgrounds/h_img.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}

.welcome {
  text-transform: uppercase;
  text-align: center;
}

#click {
  margin-top: 290px;
}

/* about us */

.about {
  font-size: 14px;
  /* width: 90%; */
  text-align: center;
  margin: 20px;
}
.services {
  background-image: url(/backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}
.texts {
  color: white;
  text-align: center;
  /* margin-top: 100px; */
}

.select {
  display: flex;
  position: relative;
  left: 150px;
  justify-content: space-between;
  text-align: center;
  width: 80%;
}
.container {
  display: inline;
  margin: auto;
  align-items: center;
  margin: auto;
}
.portfolio {
  display: flex;
  margin-left: 200px;
}
#work {
  margin: 10px;
  justify-content: space-between;
}
#work:hover {
  color: white;
  opacity: 0.7;
}

.images {
  text-align: center;
}

/* contact us */
.contacts {
  background-image: url(/backgrounds/c_image.jpg);
  height: auto;
  text-align: center;
  color: white;
}

.form {
  align-items: center;
  color: white;
  /* position: absolute; */
  top: -400px;
  left: 400px;
}
#insert {
  border: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
}
#item1 {
  display: flex;
  justify-content: space-around;
}

#mess {
  background: transparent;
  outline: none;
  height: 200px;
  width: 400px;
  border: 1px solid white;
}

/* icons */
.icons {
  margin-top: 20px;
  margin-left: 400px;
}
/* footer */
.footer {
  align-items: center;
}
