* {
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(/backgrounds/h_img.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}
.content {
  margin-top: 20px;
}
.welcome {
  text-transform: uppercase;
  text-align: center;
}

#click {
  margin-top: 290px;
}

/* about us */

.about {
  font-size: 14px;
  /* width: 90%; */
  text-align: center;
  margin: 20px;
}
.services {
  background-image: url(/backgrounds/s_image.jpg);
  background-size: cover;
}
.texts {
  color: white;
  text-align: center;
}
