* {
  margin: 0;
  padding: 0;
}

.content {
  background-image: url(./backgrounds/h_img.jpg);
  text-transform: uppercase;
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 14px;
  height: 800px;
  margin-top: 10px;
}
.logo {
  position: relative;
  top: 200px;
}

.welcome {
  text-transform: uppercase;
  text-align: center;
}

#click {
  margin-top: 290px;
  animation: bounce 3s;
}

/* about us */

.about {
  font-size: 14px;
  /* width: 90%; */
  text-align: center;
  margin: 20px;
}
.services {
  background-image: url(./backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}
.texts {
  color: white;
  text-align: center;
}

/* what we do */
.first {
  display: none;
}
.second {
  display: none;
}
.third {
  display: none;
}

.portfolio {
  display: flex;
  margin-left: 200px;
}
#work {
  margin: 10px;
  justify-content: space-between;
}

.images {
  text-align: center;
}

/* contact us */
.contacts {
  background-image: url(./backgrounds/c_image.jpg);
  height: auto;
  text-align: center;
  color: white;
}

.form {
  align-items: center;
  color: white;
  top: -400px;
  left: 400px;
}
#insert {
  border: 1px solid white;
  background: transparent;
  outline: none;
  color: white;
}
#item1 {
  display: flex;
  justify-content: space-around;
}
#name {
  width: 350px;
  background: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 10px;
}

#Email {
  width: 350px;
  background: transparent;
  margin-left: 20px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
}

#mess {
  background: transparent;
  color: white;
  outline: none;
  height: 250px;
  width: 650px;
  border: 1px solid white;
}

/* icons */
.icons {
  margin-top: 20px;
  margin-left: 400px;
}
/* footer */

.del {
  text-align: center;
}
